
<body>
<!-- nav -->

  <nav class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden">
  <a href="/" class="block text-left">
      
    <img src="../../assets/img/yavirac.png" class="h-16 sm:h-16 rounded-full" alt="logo">
  </a>
  <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
   
       <!-- <li class="pl-2 border-l">
        <a routerLink="/login" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Ingresar</a>
      </li> -->
      <button class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3" routerLink="/login">
          Ingresar
      </button>
  </ul>
</nav>
<!-- nav -->


<!-- body -->
<section class="text-gray-700 body-font">
<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
    <div class="w-full sm:p-4 px-4 mb-6">
      <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Fast Questions</h1>
      <div class="leading-relaxed">Una plataforma que te permitira crear encuestas de una forma facil y sencilla</div>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
      <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
      <p class="leading-relaxed">Users</p>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
      <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
      <p class="leading-relaxed">Subscribes</p>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
      <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
      <p class="leading-relaxed">Products</p>
    </div>
  </div>
  <div class="lg:w-1/2 sm:w-1/3 w-full overflow-hidden mt-0 p-0 sm:mt-0">
    <img class="object-cover object-center w-full h-full" src="../../assets/img/header-teamwork.svg" alt="stats">
  </div>
</div>
</section>
<!-- body -->


<!-- mapa -->
<section class="text-gray-700 body-font relative">
  <div class="absolute inset-0 bg-gray-300">
    <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.787587323685!2d-78.51909008524672!3d-0.22488679983591842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a28366b3d81%3A0xc6029256689ed873!2sInstituto%20Superior%20Tecnol%C3%B3gico%20Yavirac!5e0!3m2!1ses!2sec!4v1599434707922!5m2!1ses!2sec" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
  </div>
  <div class="container px-5 py-24 mx-auto flex">
    <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10">
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Contactos</h2>
      <p class="leading-relaxed mb-5 text-gray-600">Contactate con nosotros</p>
      <input class="bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" placeholder="Email" type="email">
      <textarea class="bg-white rounded border border-gray-400 focus:outline-none h-32 focus:border-indigo-500 text-base px-4 py-2 mb-4 resize-none" placeholder="Mensaje"></textarea>
      <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enviar</button>
    </div>
  </div>
</section>
<!-- mapa -->

<footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-between items-center">
    <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
      <li> 
          <a href="/" class="block mr-4 w-32">
          <img src="../../assets/img/yavirac.png" class="" alt="logo">
          </a>
      </li>
   
    </ul>
    <p class="inline-block py-2 px-3 text-gray-700 text-xs"> ©2020 FastQuestions. All rights reserved.</p>
  </div>
</footer>
</body>
