
<body>
  <nav class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden">
  <a href="/" class="block text-left">
      
    <img src="../../assets/img/yavirac.png" class="h-16 sm:h-16 rounded-full" alt="logo">
  </a>
  <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
   
       <!-- <li class="pl-2 border-l">
        <a routerLink="/login" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Ingresar</a>
      </li> -->
      <button class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3" routerLink="/login">
          Ingresar
      </button>
  </ul>
</nav>
<section class="text-gray-700 body-font">
<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
    <div class="w-full sm:p-4 px-4 mb-6">
      <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Fast Questions</h1>
      <div class="leading-relaxed">Una plataforma que te permitira crear encuestas de una forma facil y sencilla</div>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
      <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
      <p class="leading-relaxed">Users</p>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
      <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
      <p class="leading-relaxed">Subscribes</p>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
      <h2 class="title-font font-medium text-3xl text-gray-900">4</h2>
      <p class="leading-relaxed">Products</p>
    </div>
  </div>
  <div class="lg:w-1/2 sm:w-1/3 w-full overflow-hidden mt-0 p-0 sm:mt-0">
    <img class="object-cover object-center w-full h-full" src="../../assets/img/header-teamwork.svg" alt="stats">
  </div>
  
  
</div>
</section>
<footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-between items-center">
    <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
      <li> 
          <a href="/" class="block mr-4 w-32">
          <img src="../../assets/img/yavirac.png" class="" alt="logo">
          </a>
      </li>
   
    </ul>
    <p class="inline-block py-2 px-3 text-gray-700 text-xs"> ©2020 FastQuestions. All rights reserved.</p>
  </div>
</footer>
</body>
