#canvas {
    margin-top: 10%;
    padding: 1%;
    padding-bottom: 10%;
   
  }
  
  #doughnut {
    padding: 2%;
  }
  
.row {
    margin: -20px;
  }

  .column {
    float: left;
    width: 48%;
    height: auto;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 5px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      padding: 10px;
    }
  }
  