.data-table {
  width: auto;
  margin: 20% auto;

}

table{
  width: 80%;
  margin: 10px;
}

#canvas{
  margin-top: 15%;
  margin-left: 8%;
  padding: 2%;
 
}

#doughnut{
  margin-left: 10%;
  padding: 3%;

}

